In [86]:
# how to used the zip in this given below
name = ["ram","shayam","amit"]
makrs = [85,90,95]

for i , j in zip(name,makrs):
    print(i,j)

ram 85
shayam 90
amit 95

In [ ]:
## i m modifying the code

In [87]:
d1={'ram':25,'raheem':35,'robert':45}

In [88]:
## how the for loop applied int the this function
for key in d1:
    print(key)

ram
raheem
robert

In [89]:
## if you want to get result with value you go with print(itreable iteam, key[mention in list])
for key in d1:
    print(key,d1[key])
    print("The age of {} is {}".format(key,d1[key]))

ram 25
The age of ram is 25
raheem 35
The age of raheem is 35
robert 45
The age of robert is 45

In [90]:
## shortcut
l=[i for i in range(10)]  ## list shortcut 
print(l)

#alternative 

l=[]
for i in range(10):
    l.append(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [91]:
## create the empty dictonary
d1={}
d1['fruit']='apple'
d1

{'fruit': 'apple'}

In [92]:
d1={}
d1["first name"]="Nikita"
d1["sir name"]="Parolekr"
d1["Nativeplace"]="Dhule"
d1["State"] ="Maharastha"
d1

{'first name': 'Nikita',
 'sir name': 'Parolekr',
 'Nativeplace': 'Dhule',
 'State': 'Maharastha'}

In [ ]:
## wap create a dicitionary based on two list
name =['ram','raheem','robert']
age= [25,30,35]

dict1={}
for i,j in zip(name,age):
    dict1[i]=j
dict1

# ## alternative:

dict2={}
for i in range(len(name)):#itrate  only give the key value
    dict2[name[i]]=age[i]

dict2

# ## short cut in dict
dict3={name[i]:age[i] for i in range(len(name))} # i is iterateble iteam in both key and value also 
dict3

## another method to write the list:
name[0],age[0]

for name, age in zip (name, age):
    print(name,age)

ram 25
raheem 30
robert 35

In [91]:
## wap take 5 random number 

# and create a dictionary with even and odd


import random

d1={}

even =[]
odd =[]


for i in range(5):
    num=random.randint(0,25)
    
    if num%2 ==0:
        even.append(num)
    else :
        odd.append(num)

print(even)
print(odd)


d1['even'] = even  # Add to dictionary
d1['odd'] = odd

print("Dictionary:", d1)

[14, 22, 16]
[11, 5]
Dictionary: {'even': [14, 22, 16], 'odd': [11, 5]}

In [1]:
import os

In [2]:
os.getcwd()

'd:\\data analayst\\python'

## items -key -value

In [4]:
d1={'ram':25,
    'Raheem':30,
    'Robert':35}

d1

{'ram': 25, 'Raheem': 30, 'Robert': 35}

In [5]:
d1.items()

dict_items([('ram', 25), ('Raheem', 30), ('Robert', 35)])

In [14]:
#values
keys=list(d1.values())
values=list(d1.keys())

In [15]:
{i:j for i,j in zip(keys,values)}

{25: 'ram', 30: 'Raheem', 35: 'Robert'}

In [ ]:
## isomg 

s2 ='virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'
s1 =s2.split(',')
first_name = []
second_name= []
company = []

d2={}
for i in s1:
    first_name.append(i[:i.find('.')])
    second_name.append(i[i.find('.')+1:i.find('@')])
    company.append(i[i.find('@')+1:i.find('.',i.find('.')+1)])


d2['first_name']=first_name
d2['second_name']=second_name
d2['company']=company

d2

{'first_name': ['virat', 'Rohit', 'kl'],
 'second_name': ['kohli', 'sharma', 'rahul'],
 'company': ['blr', 'mumbai', 'lucknow']}

In [75]:
s1='virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'

s2= s1.split(',')

first_n =[]
second_n=[]
last_n=[]

di={}

for i in s2:
    first_n.append (i[:i.find(".")])
    second_n.append(i[i.find(".")+1:i.find("@")])
    last_n.append(i[i.find("@")+1:i.find(".",i.find(".")+1)])


di['first_n'] =first_n
di['second_n'] =second_n
di['last_n'] =last_n

di

{'first_n': ['virat', 'Rohit', 'kl'],
 'second_n': ['kohli', 'sharma', 'rahul'],
 'last_n': ['blr', 'mumbai', 'lucknow']}

In [ ]:
## wap the program what is repated the max time 

str1 ='can can you canner can you able to can canner'

str2 = str1.split()

d1={}

for i in str2:
    d1[i]=str2.count(i)


d1

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [1]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':50}

d3={}

for i in d1:
    d3[i]=d1[i]+d2[i]

d3

{'a': 70, 'b': 130, 'c': 90}

In [ ]:
d1 = {'a':20,'b':30,'c':40,'d':50}
d2 = {'a':50,'b':100,'c':50}

d3 = {}

for i in d1:
    d3[i] = d1[i] + d2.get(i, 0)#blank index put 0 and work on 

print(d3)

{'a': 70, 'b': 130, 'c': 90, 'd': 50}

In [17]:
d3 = {i: d1[i] + d2.get(i, 0) for i in d1}
d3

{'a': 70, 'b': 130, 'c': 90, 'd': 50}

##clear -copy

In [10]:
d1={'a':20,'b':30,'c':40,'d':500}
d2=d1.copy()
d1.clear()
print(d1)
print(d2)

{}
{'a': 20, 'b': 30, 'c': 40, 'd': 500}

In [4]:
d2.pop('b')

30

In [5]:
d2

{'a': 20, 'c': 40, 'd': 500}

In [8]:
d2.popitem()

('a', 20)

In [11]:
d2

{'a': 20, 'b': 30, 'c': 40, 'd': 500}

In [13]:
d2.popitem()

('d', 500)

In [14]:
d2

{'a': 20, 'b': 30, 'c': 40}

In [16]:
del d2['c']

In [17]:
d2

{'a': 20, 'b': 30}

In [20]:
name= "sourav"
upp=name.upper()
cap=name.capitalize()

In [21]:
upp
cap

'Sourav'

In [ ]:
d1={}
d1.setdefault('nareshit','ds')
d1.setdefault('city')

d1.setdefault(  )

{'nareshit': 'ds', 'city': None}